.flip-card {
  align-self: center;
  background-color: transparent;
  display: inline-block;
  justify-self: center;
  margin-top: 16px;
  perspective: 1000px;

  height: 300px;
  width: 300px;
}
  
.flip-card-inner {
  box-shadow: 0 3px 6px black;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  height: 100%;
  width: 100%;
}
  
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  position: absolute;

  height: 100%;
  width: 100%;
}
  
.flip-card-front {
  color: black;
}
  
.flip-card-back {
  background-color: #B9E4C9;
  transform: rotateY(180deg);
}

.memory {
  padding: 4px;
}